* { box-sizing: border-box; }

@font-face {
    font-family: "kenya-SouthSide";
    font-weight: bold;
    src: url("https://pomasters.github.io/SyncPairsTracker/css/kenya-SouthSide.otf") format("opentype");
}

body {
    font-family: "kenya-SouthSide", sans-serif;
    background-image: url("https://pomasters.github.io/SyncPairsTracker/images/bg2.png");
    background-attachment: fixed;
    margin: 0;
    color: #404040;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    color: rgb(255 255 255 / 90%);
    text-shadow: 1px 3px #095d7c;
    font-size: 44px;
    margin: 0;
}

#main {
    background-image: url("bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
}

#version, #counter {
    text-align:center;
    margin: 5px;
}
#version {
    font-size: 25px;
}
#counter {
    font-size: 20px;
}

#table-container {
    margin-top: 20px;
}

.tabs {
    display:flex;
    justify-content:center;
    margin-bottom:20px;
    background-color: #7BA7B5;
    padding: 5px 20px;
}
.tab {
    color: white;
    background: linear-gradient(#7BA7B5, #acd3dd);
    border: 2px solid #c2dbe0;
    border-radius: 5px;
    padding: 10px;
    width: 20%;
    margin: 2px 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;;
}
.tab.active {
    color: #7BA7B5;
    background:#ffffff;
    font-weight:bold;
}

.buttons {
    text-align:center;
    margin-bottom:20px;
}
.buttons button {
    min-width: 100px;
    width: 10%;
    padding: 5px;
    outline: none;
    border: 2px solid #27646E;
    background: linear-gradient(#ffffff, #cccccc);
    color: #27646E;
    border-top-left-radius: 6px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 2px;
    margin: 3px;
    box-shadow: 2px 2px 3px #27646E;
    transition-duration: 50ms;
    font-size: 16px;
    text-align: center;
    font-family: "kenya-SouthSide";
    cursor: pointer;
}
.buttons button:active {
    transform: scale(0.95);
    transition-duration: 50ms;
    background: linear-gradient(#D1EC96, #B8F33B);
}

.table {
    display:flex;
    flex-direction:column;
    background:#ffffffc8;
    box-shadow:0 2px 5px rgba(0,0,0,0.1);
}
.row {
    display:flex;
    border-top: 1px solid rgb(39 100 110 / 51%);
}
.row:last-child {
    border-bottom: 1px solid rgb(39 100 110 / 51%);
}
.cell {
    flex:1;
    padding:8px;
    display:flex;
    align-items:center;
    align-content: baseline;
    justify-content:center;
    flex-wrap:wrap;
    min-height:70px;
    border-left:1px solid rgb(39 100 110 / 51%);
}
.cell:last-child {
    border-right:1px solid rgb(39 100 110 / 51%);
}
.header {
    font-weight:bold;
    text-align:center;
    align-content: center;
}
.label {
    flex:0 0 200px;
    font-weight:bold;
    display:flex;
    align-items:center;
    justify-content:center;
    text-transform:capitalize;
}

.icon {
    width:72px;
    height:72px;
    object-fit:contain;
    margin:3px;
    cursor:pointer;
    transition:transform 0.2s, opacity 0.2s;
}
.icon:hover {
    transform: scale(1.1);
}
.not-acquired {
    opacity: 0.25;
}

.strike { background-color: rgba(255, 64, 64, 0.1); }
.tech { background-color: rgba(64, 255, 64, 0.1); }
.support { background-color: rgba(64, 64, 255, 0.1); }
.sprint { background-color: rgba(255, 64, 64, 0.1); }
.field { background-color: rgba(255, 64, 255, 0.1); }
.multi { background-color: rgba(255, 244, 188, 0.1); }